<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proxy List</title>
</head>
<body>
    <table>
        <thead>
           <tr>
            <th>IP</th>
            <th>PORT</th>
            <th>PROTOCOL</th>
           </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</body>
</html>